@page "{id}"
@model Catologs.Pages.SliderModel
@{
    ViewData["Title"] = "محصولات";
}



<link href="~/css/catalog.css" rel="stylesheet" />

<div class="container bootdey">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row product-list">
                    @foreach (var r in Model.catalogPages.OrderBy(x=>x.Order))
                    {
                        <div class="col-md-4">
                            <div class="card-img shadow-sm">
                                <section class="panel">
                                    <div class="panel-body text-center">
                                        <h4>
                                            <a asp-page="/ProductDetails" asp-route-id="@r.PageId" asp-route-rIn="@r.RemainInvertory" asp-route-cId="@r.CatalogId" class="pro-title">
                                                @r.Name
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="pro-img-box">
                                        <a asp-page="/ProductDetails" asp-route-id="@r.PageId" asp-route-rIn="@r.RemainInvertory" asp-route-cId="@r.CatalogId">
                                            <img src="@String.Format("data:image/png;base64,{0}",
                                                          Convert.ToBase64String(r.ImageByte))" />
                                        </a>
                                    </div>
                                    <br/>
                                    <div class="panel-body text-center">
                                        <a asp-page="/ProductDetails" asp-route-id="@r.PageId" asp-route-rIn="@r.RemainInvertory" asp-route-cId="@r.CatalogId" class="btn btn-success btn-sm btn-rounded">جزئیات</a>

                                    </div>
                                </section>
                              </div>
                            <br />
                            <br />
                        </div>
                      
                    }
                </div>
            </div>
        </div>
    </div>

</div>

