@page "{id}/{cId}"
@model Catologs.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "جزئیات محصول";
}


<link href="~/css/product-details.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div dir="rtl" class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
                        <center>
                            <h3 class="text-success fw-bold">
                                @Model.ItemRoot.Name
                            </h3>
                            <strong>@Model.ItemRoot.Desc</strong>
                        </center>
                        <div class="right">
                            
                              
                            @if (Model.ItemRoot.ShowRemainInvertory == "on")
                            {
                                <p style="float:right;font-size:small" class="help-block fw-light text-right">
                                    <i class="fa fa-info-circle"></i>
                                    <span style="padding-right:0px !important;">محصولات که با علامت ضربدر مشخص شده موجودی ندارد</span>
                                </p>
                            }

                                </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</td>
                                        <th scope="col">نام محصول </th>
                                        <th scope="col">قیمت(ریال)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int rowNo = 0;
                                    }
                                    @foreach (var item in Model.ItemRoot.CatalogPageItem.OrderByDescending(x=>x.RemainInvertory))
                                    {
                                        <tr>
                                            <td>
                                                @(rowNo += 1)
                                            </td>
                                            <td>
                                                @if (Model.ItemRoot.ShowRemainInvertory == "on")
                                                {
                                                    @if (item.RemainInvertory <= 0)
                                                    {
                                                        <i class="fa fa-remove text-danger"></i>
                                                    }
                                                }
                                                @item.ProductName
                                            </td>
                                            <td>@item.PriceProductR.ToString("#,0#")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>